@model IEnumerable<EPSCoR.ViewModels.ConvertedTablesVM>

<h2>Converted Tables</h2>

@if(Model.Count() == 0)
{
    <p>No converted tables.</p>
}
else
{
    <table>
        <tr>
            <th>
                @Html.LabelFor(model => model.First().Table)
            </th>
            <th>
                @Html.LabelFor(model => model.First().Type)
            </th>
            <th>
                @Html.LabelFor(model => model.First().Time)
            </th>
            <th>
                @Html.LabelFor(model => model.First().Issuer)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Table)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Issuer)
                </td>
                <td>
                    @Html.ActionLink("XML", "DownloadXML", new { id = item.TableID })
                </td>
                <td>
                    @Html.ActionLink("CSV", "DownloadCSV", new { id = item.TableID })
                </td>
                <td>
                    @Html.ActionLink("X", "Delete", new { id = item.TableID })
                </td>
            </tr>
        }
    </table>
}
