@model IEnumerable<EPSCoR.Database.Models.TableIndex>
@{
    ViewBag.Title = "Cybercommons > Download";
}

<h2>Download Tables</h2>

@if (Model.Count() == 0)
{
    <span>No tables to download.</span>
}
else
{
    <table class="table table-striped">
        <tr>
            <th>
                @Html.LabelFor(modelItem => modelItem.FirstOrDefault().Name)
            </th>
            <th>
                @Html.LabelFor(modelItem => modelItem.FirstOrDefault().Type)
            </th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(item => item.Type)
                </td>
                <td>
                    @Html.ActionLink("Download Csv", "DownloadCsv", "Files", new { id=item.Name }, new { @class="button button-primary"})
                </td>
                <td>
                    @Html.ActionLink("X", "Delete", "Tables", new {id = item.ID }, new { @class="button button-warning"})
                </td>
            </tr>
        }
    </table>
}