<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <header id ="header">
        <img src="~/Content/images/header.jpeg" alt="EPSCoR" height="160" width="1150"/>

        <nav id ="nav">
            <ul class ="navmenu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "Index", "About")</li>
                <li>
                    @Html.ActionLink("How To", "Index", "About")
                    <ul>
                        <li>@Html.ActionLink("Export Access Table", "HowToExport", "About")</li>
                        <li>@Html.ActionLink("Upload Data Table", "HowToUpload", "About")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Load Table", "Upload", "Tables")</li>
                <li>@Html.ActionLink("Data", "Index", "Tables")</li>
                <li>@Html.ActionLink("Watershed", "Index", "Watershed")</li>
            </ul>
        </nav>
    </header>

    <div id ="content">
        @if (TempData["StatusMessage"] != null)
        {
            <span id="statusMessage">@TempData["StatusMessage"]</span>
        }
        @RenderBody()
    </div>

    <footer id="footer">
        <img src="~/Content/images/footer.jpeg" alt="Footer" height="100" width="1150" />
        @Html.Partial("LoginPartial")
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
