@{
    ViewBag.Title = "EPSCoR Data Processing Tool";
    ViewBag.AppName = "Data Processor";
}

@section Navigation {
    <li><a href="javascript:EPSCoR.Dialogs.openDialog('dialog-uploadFiles', {'fillScreen': true})">Upload Files</a></li>
    <li><a href="javascript:EPSCoR.Dialogs.openDialog('dialog-calc', {'fillScreen': false})">Create Calc Table</a></li>
    <li><a href="javascript:EPSCoR.Dialogs.openDialog('dialog-about', {'fillScreen': true})">About/Help</a></li>
}

<div id="alerts" class="container" style="margin-top: 10px; margin-bottom: 10px;">
    <noscript class="alert alert-error">
        This site requires javascript to function. If javascript is disabled, please enabled it.
    </noscript>
    @Html.Partial("_alerts")
</div>
                
<div id="tables" class="container">
    <img src="~/Content/images/ajax-loader.gif" class="img-center" /> 
</div>

<div class="footer container">
    <p>&copy; Kansas State University @System.DateTime.Now.ToString("yyyy")</p>
</div>

@Html.Partial("_uploadForm")
@Html.Partial("_calcForm")
@Html.Partial("_aboutForm")

@section Styles {
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
    @Styles.Render("~/content/DataProcessor-Full.css")
}

@section Scripts {
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    @Scripts.Render("~/scripts/DataProcessor-Full.js")
    <script src="~/signalr/hubs"></script>

    <script type="text/x-tmpl" id="alertTmpl">
        <div class="alert alert-{%=o.type%} fade">
            <strong>{%=o.header%}</strong> {%=o.message%}
            <button type="button" class="close" data-dismiss="alert">x</button>
        </div>
    </script>

    <script type="text/x-tmpl" id="tableIndexTmpl">
        <div id="{%=o.Name%}" class="well fade">
            <span class="btn" onclick="EPSCoR.Tables.toggleTableView('{%=o.Name%}')"><i class="icon icon-plus icon-black"></i></span>
            <b>
                {%=o.Name%}
                {% if(!o.Processed) { %}
                    - {%=o.Status%}
                {% } %}
            </b>
            <span class="pull-right">
                <a href="\Files\DownloadCsv\{%=o.Name%}" class="btn btn-success">Download</a>
                <span id="{%=o.Name%}-delete" class="btn btn-danger" onclick="EPSCoR.Tables.deleteTable('{%=o.Name%}')">X</span>
            </span>
            <div id="{%=o.Name%}-details" class="hide">
                <hr />
                 <img class="img-center" class="text-center" src="/Content/images/ajax-loader2.gif" />
            </div>
        </div>
    </script>
}


