@model IEnumerable<EPSCoR.Database.Models.TableIndex>
@{
    ViewBag.Title = "EPSCoR Data Processing Tool";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    @Html.Partial("_navbar")
</div>

<div id="alerts" class="container" style="margin-top: 10px; margin-bottom: 10px;">
    <noscript class="alert alert-error">
        This site requires javascript to function. If javascript is disabled, please enabled it.
    </noscript>
    @Html.Partial("_alerts")
</div>
                
<div id="tables" class="container"> 
    @Html.Partial("_tables", Model)
</div>

<div class="footer container">
    <p>&copy; Kansas State University @System.DateTime.Now.ToString("yyyy")</p>
</div>

@Html.Partial("_uploadForm")
<div id="dialog-calc" title="Generate Table" class="container">
    <img class="img-center" src="~/Content/images/ajax-loader2.gif" />
</div>
@Html.Partial("_aboutForm")

@section Styles {
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
    @Styles.Render("~/content/jQueryFileUpload/fileUpload-css")
    @Styles.Render("~/content/DataTables-1.9.4/datatables-css")
}

@section Scripts {
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    @Scripts.Render("~/scripts/jqueryfileupload/fileUpload-js")
    @Scripts.Render("~/scritps/DataTables-1.9.4/datatables-js")
    @Scripts.Render("~/scripts/JavaScriptTemplates/main")
    @Scripts.Render("~/scripts/SignalR/signalr-js")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/scripts/main-2.0")

    <script type="text/x-tmpl" id="alertTmpl">
        <div class="alert alert-{%=o.type%} fade">
            <strong>{%=o.header%}</strong> {%=o.message%}
            <button type="button" class="close" data-dismiss="alert">X</button>
        </div>
    </script>

    <script type="text/x-tmpl" id="tableIndexTmpl">
        <div id="{%=o.Name%}" class="well fade">
            <span class="btn" onclick="toggleTableView('{%=o.Name%}')"><i class="icon icon-plus icon-black"></i></span>
            <b>
                {%=o.Name%}
                {% if(!o.Processed) { %}
                    - {%=o.Status%}
                {% } %}
            </b>
            <span class="pull-right">
                <a href="\Files\DownloadCsv\{%=o.Name%}" class="btn btn-success">Download</a>
                <span class="btn btn-danger" onclick="deleteTable('{%=o.Name%}')">
                    X
                    <form action="\Tables\Delete" method="post" id="delete-{%=o.Name%}" class="hide">
                        <input type="hidden" name="id" value="{%=o.Name%}" />
                    </form>
                </span>
            </span>
            <div id="{%=o.Name%}Details" class="hide">
                <hr />
                 <img class="img-center" class="text-center" src="/Content/images/ajax-loader2.gif" />
            </div>
        </div>
    </script>
}


